.download-app{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.googleplay{
    height: 250px;
    transition: transform 0.3s ease-in-out;
}

.googleplay:hover{
    transform: scale(1.05);
}

.image-container{
    display: flex;
    flex-direction: row;
    height: 400px;
    width: 100%;
    justify-content: space-between;
    background: linear-gradient(135deg, #3498db, #2ecc71);
    padding:  0px 30px 0;
    margin-top: 70px;
    align-items: end;
}

.image-container img{
    height: 90%;
}